body {
  background-color: black;
  color: #0ef;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.Regi {
  background-color: rgba(255, 255, 255, 0.05); /* translucent effect */
  padding: 40px;
  width: 60%;
  margin: 50px auto;
  border: 2px solid #0ef;
  border-radius: 20px;
  box-shadow: 0 0 20px #0ef;
}

.container {
  padding: 16px;
  color: #0ef;
  font-style: italic;
}

input[type=text], input[type=password] {
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: white;
  outline: none;
}

.registerbtn {
  background-color: #0ef;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  width: 75%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 2;
  color: #333;
}

a {
  color: dodgerblue;
}

.signin {
  text-align: center;
  font-style: italic;
}

table {
  margin: auto;
}

td {
  padding: 10px;
}

.button-wrapper {
  text-align: right;
  width: 20%;
  margin: auto;
}


.forgot-link {
  font-size: 14px;
  color: #0ef;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
  color: dodgerblue;
}
